<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
  <br>
  <% if @error %>
  <p><%= @error %></p>
<% elsif @user %>
  <% @user.each do |item| %>
     Name: <%= item["name"]%> <br>
     Repos: <a href= <%= item["html_url"]%>><%= item["html_url"]%></a><br>
     description: <%= item["description"]%>
   <% end %>
 <% end %>
</div>
